<a href="https://colab.research.google.com/github/Harish21b/sirpi/blob/main/Exe1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Types of Variables
Question:
Write a Python program that defines three types of variables:
A string variable to store your name.
An integer variable to store your age.
A float variable to store your height in meters.
Print these variables along with their types using the type() function.

In [ ]:
name="Harish"
age=18
height=164.5
print(name,type(name))
print(age,type(age))
print(height,type(height))

Harish <class 'str'>
18 <class 'int'>
164.5 <class 'float'>

2. Lists
Question:
Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
a) Print the first and last fruit from the list.
b) Add a new fruit to the end of the list.
c) Remove the second fruit from the list.
d) Sort the list in alphabetical order and print it.

In [ ]:
fruits=['apple','banana','cherry','elderberry','date']
fruits.append('jackfruit')
fruits.remove('banana')#if we know the value we can remove the value by using remove().
fruits.pop(0)#if we know the index then we can use pop()
fruits.sort()
print(fruits)

['cherry', 'date', 'elderberry', 'jackfruit']

3. Tuples
Question:
Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
a) Access the second language in the tuple.
b) Try to replace the second language with "JavaScript". What happens?
c) Convert the tuple to a list, make the modification, and convert it back to a tuple.

In [ ]:
programming_languages=("Python", "Java", "C++")
print(programming_languages[1])
#programming_languages[1]='java script'.  'tuple' object does not support item assignment
programming_languages_l=list(programming_languages)
programming_languages_l[1]='java script'
programming_languages=tuple(programming_languages_l)
print(programming_languages)

Java
('Python', 'java script', 'C++')

4. Data Dictionary - Basics
Question:
Create a dictionary with the following student details:
name: "John"
age: 18
grade: "A"
a) Access and print the value of grade.
b) Add a new key-value pair for hobby with the value "reading".
c) Delete the age key from the dictionary.

In [ ]:
student_details={'name':"John",'age':18,'grade':'A'}
print(student_details['grade'])
student_details['hobby']='reading'
student_details.pop('age')
print(student_details)

A
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

5. Data Dictionary - Operations
Question:
You are given the following dictionary:
marks = {"Math": 85, "Science": 90, "English": 78}
a) Find the average marks across all subjects.
b) Update the marks for Math to 88.
c) Check if the key "History" exists in the dictionary.

In [ ]:
marks={"Math":85, "Science":90, "English":78}
print(marks.keys())
values=(marks.values())
print(sum(values)/len(values))
marks['math']=88
print(marks)
print('History' in marks)

dict_keys(['Math', 'Science', 'English'])
84.33333333333333
{'Math': 85, 'Science': 90, 'English': 78, 'math': 88}
False

6. Functions - Basics
Question:
Write a Python function named square that takes an integer as input and returns its square.
Call the function with the value 7 and print the result.

In [ ]:
def square(x):
  return x**2

a=int(input("enter a value to be squared :"))
print(square(a))

enter a value to be squared :7
49

7. Functions - Default Arguments
Question:
Write a Python function named greet that takes two parameters:
name (a string)
message (a string with a default value of "Welcome!")
Call the function twice:
Once by providing both name and message.
Once by providing only name.

In [ ]:
def greet(name,message="Welcome"):
  print(name,message)

greet("harish","dude")
greet("harish")

harish dude
harish Welcome

8. Functions - Positional and Keyword Arguments
Question:
Write a Python function named student_info that accepts the following parameters:
name (string)
age (integer)
grade (string, default value is "A")
Call the function with:
Positional arguments only.
Keyword arguments only.
Print the result in each case.

In [ ]:
def student_info(name,age,grade="A"):
  print(f'hi this is {name} my age is {age} and my grade is {grade}')

student_info("harish",22)
student_info(grade="S",age=18,name="hari")

hi this is harish my age is 22 and my grade is A
hi this is hari my age is 18 and my grade is S

9. Lists and Functions
Question:
Write a Python program with the following requirements:
a) Create a list of numbers: [10, 20, 30, 40, 50].
b) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
c) Pass the list to the function and print the returned list.

In [ ]:
numbers=[10, 20, 30, 40, 50]

def double_values(a):
  b=[]
  for i in a:
    c=i*2
    b.append(c)
  return b


x=double_values(numbers)
print(x)

[20, 40, 60, 80, 100]

10. Combining Data Dictionary and Functions
Question:
Create a dictionary named students to store the names and grades of three students:
students = {"Alice": 85, "Bob": 78, "Eve": 92}
a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
Call the functions to:
Add a new student ("David": 88).
Calculate and print the average grade.

In [ ]:
def add_student(x,y):
  students[x]=y
  print(students)

def average_grade():
  a=(students.values())
  print(sum(a)/len(students))

students={"Alice": 85, "Bob": 78, "Eve": 92}
add_student("david",88)
average_grade()

{'Alice': 85, 'Bob': 78, 'Eve': 92, 'david': 88}
85.75